env:
    matrix:
        # latest Saxon 9.7 version
        - SAXON_VERSION=9.7.0-18
          XMLCALABASH_VERSION=1.1.16-97
          BASEX_VERSION=8.6.4
        # latest Saxon 9.6 version
        - SAXON_VERSION=9.6.0-10
        # Saxon version used in oXygen
        - SAXON_VERSION=9.7.0-15

before_script:
    # install bats
    - git clone https://github.com/sstephenson/bats.git /tmp/bats
    - mkdir -p /tmp/local
    - bash /tmp/bats/install.sh /tmp/local
    - export PATH=$PATH:/tmp/local/bin
    # install Saxon
    - mkdir -p /tmp/xspec/saxon
    - export SAXON_CP=/tmp/xspec/saxon/saxon9he.jar
    - wget -O ${SAXON_CP} http://central.maven.org/maven2/net/sf/saxon/Saxon-HE/${SAXON_VERSION}/Saxon-HE-${SAXON_VERSION}.jar
    - chmod +x ${SAXON_CP}
    # install XML Calabash
    - if [ -z ${XMLCALABASH_VERSION} ]; then
        echo "XMLCalabash will not be installed as it uses a higher version of Saxon";
      else
        wget -O /tmp/xspec/xmlcalabash-${XMLCALABASH_VERSION}.zip https://github.com/ndw/xmlcalabash1/releases/download/${XMLCALABASH_VERSION}/xmlcalabash-${XMLCALABASH_VERSION}.zip;
        unzip /tmp/xspec/xmlcalabash-${XMLCALABASH_VERSION}.zip -d /tmp/xspec;
        export XMLCALABASH_CP=/tmp/xspec/xmlcalabash-${XMLCALABASH_VERSION}/xmlcalabash-${XMLCALABASH_VERSION}.jar;
      fi
    # install BaseX
    - if [[ -z ${XMLCALABASH_VERSION} && -z ${BASEX_VERSION} ]]; then
        echo "BaseX will not be installed as it requires to run XMLCalabash with a higher version of Saxon";
      else
        mkdir -p /tmp/basex;
        wget -O /tmp/basex/basex-${BASEX_VERSION}.jar http://files.basex.org/maven/org/basex/basex/${BASEX_VERSION}/basex-${BASEX_VERSION}.jar;
        export BASEX_CP=/tmp/basex/basex-${BASEX_VERSION}.jar;
      fi

script:
    - cd test
    - echo "execute bats unit tests"
    - bats --tap xspec.bats
    - echo "execute XSpec unit tests"
    - ./run-xspec-tests.sh
